.popup__field_type_source {
    margin-top: 32px;
    padding:0; 
    }
    
    @media screen and (max-width:700px) {
        .popup-new-item__field_type_source {
            margin-top: 32px;
        }
    }