.profile {
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    max-width: 880px;
    width: 100vw - 400px;
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    column-gap: 30px;
    align-items: center;
}

@media screen and (max-width:900px) {
    .profile {
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr 1fr;
        row-gap: 19px;
        justify-items: center;
    }
}

@media screen and (max-width:320px) {
    .profile {
        margin-bottom: 10px;
    }
}