.header {
    padding-top: 45px;
    padding-bottom: 41px;
    width: 100% - 400px;
    max-width: 880px;
    margin: 0 auto 38px;
    border-bottom: 1px solid grey;
}

@media screen and (max-width:320px) {
    .header {
        margin-bottom: 42px;
        padding-bottom: 31.6px;
        padding-top: 28px;
    }
}