.profile__add-button {
    border: 2px solid white;
    padding: 14px 64px;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    justify-self: end;
    background-color: transparent;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .profile__add-button {
        justify-self: center;
        align-self: start;
        padding: 10px 133px;
        width: 282px;
    }
}