.popup-new-item__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-left: 36px;
    color: #000000;
    margin-bottom: 0;
    padding-top: 34px;
    margin-top: 0;
}

@media screen and (max-width:700px) {
    .popup-new-item__title {
        font-size: 18px;
        line-height: 22px;
        padding-top: 22px;
        margin-left: 22px;
    }
}