.element__like_active {
    background-image: url(../../../../images/like_active.svg);
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}